<!-- footer section -->
<footer class="py-3 mt-4 border-top">

    <!-- footer text -->
    <p class="text-center">&copy; 2026 Company, Inc</p>

</footer>

<!-- closes bootstrap container -->
</div>

</body>
</html>